{% extends 'layouts/main.html' %}
{% block title %}Availability{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Add unavailable date for {{name}}</h3>
      <div class="form-group">
        <label for="start_date">From</label>
        {{ form.start_date(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="end_date">To</label>
        {{ form.end_date(class_ = 'form-control', autofocus = true) }}
      </div>
      <input type="submit" value="Add" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}